.header {
  padding-top: 30px;
  padding-bottom: 51px;

  color: $color-default-white;

  background-color: #a0073f;
  background-image: url("../img/backgrounds/main_background.png");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main_background@2x.png");
  }

  @media (max-width: 1199px) {
    background-image: url("../img/backgrounds/main_background_tablet.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_background_tablet@2x.png");
    }
  }

  @media (max-width: 767px) {
    background-image: url("../img/backgrounds/main_background_mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_background_mobile@2x.png");
    }
  }
}

.header__wrapper {
  display: flex;
}

.header__phone {
  margin-left: auto;

  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  font-family: $ff-alternative;
  color: $color-default-white;
  letter-spacing: 0.03em;
}
